[user]
	name = Isak Evaldsson
	email = isak.evaldsson@outlook.com
[core]
	autocrlf = input
	editor = nano

# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

# Avoids unnecesary merges  
[pull]
	rebase = true
